
<!-- feed is cached -->
 

<div id="pagebody">
  <div class="wrapper">

<%= form_for @user, :url => users_path, :html => {:multipart => true ,:id => 'form'} do |form| %>
  <div class="LeftNew">
    <div class="Inner">
      <div class="AcceNew">
        <dl>
          <dt><%= User.human_attribute_name(:domain) %></dt>
          <dd>
            <%= form.text_field   :domain , :class => 'style1' %>
          </dd>
        </dl>

        <dl>
          <dt><%= User.human_attribute_name(:name) %></dt>
          <dd>
            <%= form.text_field   :name , :class => 'style1' %>
          </dd>
        </dl>
        <dl>
          <dt><%= User.human_attribute_name(:password) %></dt>
          <dd>
            <%= form.text_field   :password , :class => 'style1' %>
          </dd>
        </dl>
        <dl>
          <dt><%= User.human_attribute_name(:password_confirmation) %></dt>
          <dd>
            <%= form.text_field   :password_confirmation , :class => 'style1' %>
          </dd>
        </dl>

      </div>
      <div class="PostBtn">
        <p>
          <%= form.submit '保存' , :class=>"btn2" %>
        </p>
        <br class="clear" />
      </div>
    </div>
  </div>
<% end %>


  </div>
</div>
