<p>
  <b>District:</b>
  <%=h @sabro_first.district_id %>
</p>

<p>
  <b>Room name:</b>
  <%=h @sabro_first.room_name %>
</p>

<p>
  <b>Room no:</b>
  <%=h @sabro_first.room_no %>
</p>

<p>
  <b>Name:</b>
  <%=h @sabro_first.name %>
</p>

<p>
  <b>Tel:</b>
  <%=h @sabro_first.tel %>
</p>

<p>
  <b>Mail:</b>
  <%=h @sabro_first.mail %>
</p>

<p>
  <b>Content:</b>
  <%=h @sabro_first.content %>
</p>


<%= link_to 'Edit', edit_sabro_first_path(@sabro_first) %> |
<%= link_to 'Back', sabro_firsts_path %>